<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="force_learner.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <force_learner.settings>
            <setting name="Close" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="popupS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeoutI" serializeAs="String">
                <value>50000</value>
            </setting>
        </force_learner.settings>
    </userSettings>
</configuration>